

body {
    color: rgba(255,255,255,.8);
    font-family: 'RooneySans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-height: 100lvh;
    position: relative;
    background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png"); 
    background-color:#370e4f;
}



/* title page animation */
.fade-in {
    font-size: 96px;
    animation: fadeIn 5s;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

/* ------------------------------------ menu ------------------------------------ */ 
#menu {
    top: 0;
    right: 2.25rem;
    position: absolute;
    color:antiquewhite;
    position: fixed; /* sticky */
}

/* horizontal menu */
#menu li {
    list-style: none;
    display: inline;
    text-decoration: none;
    grid-column-gap: 1em; 
    grid-row-gap:1em;
    text-align: center;
}

#menu li a {
    color:antiquewhite;
    text-decoration: none;
}

#menu li a:hover {
    box-shadow: inset 100px 0 0 0 #370e4f;
}

li {
    display: list-item;
    /*text-align: -webkit-match-parent;*/
    /*unicode-bidi: isolate;*/
    color:antiquewhite;
    padding: 10px;
    text-decoration: none;
}

a {
    box-shadow: inset 0 0 0 0 #370e4f;
    color: #370e4f;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }

 


#menu li:nth-child(odd) {
    background-color: #300549;
    background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
    
}

#menu li:nth-child(even){
    background: #532b68;
    background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}

  /* ------------------------------------ menu ------------------------------------ */ 

#content {
    width: 100%;
    max-width: 40rem;
    text-align: center;
    margin: 0 auto;
    padding: 9rem 1.25rem 12rem;
    position: relative;
    z-index: 3;
    font-size: 24px;
    color:antiquewhite;
}

/* ------------------------------------ Grid for project page  ------------------------------------ */ 
.grid {
    display:grid;
    grid-template-columns: 100%;
    grid-column-gap: 1em; 
    grid-row-gap:1em; 
    text-align: center;
}


.grid > div {
    background: #eee ;
    padding: 1em;
}

.grid > div:nth-child(odd) { /* Just the side bars for explanations*/
    background-color: #300549;
    background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
    
}

.grid > div:nth-child(even){
    background: #532b68;
    background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}

/* ------------------------------------ Grid for project page  ------------------------------------ */ 

/* ------------------------------------ Contact menu bar   ------------------------------------ */


#contact-menu {
    top: 0;
    right: 1.25rem;
    font-size: 18px;
    color:antiquewhite;
}

/* horizontal menu */
#contact-menu li {
    display: inline;
}

#contact-menu li a {
    color:antiquewhite;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #370e4f;
    color: #370e4f;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    
}


/* ------------------------------------ Contact menu bar   ------------------------------------ */

/* ------------------------------------ Projects - Grid   ------------------------------------ */

.project_grid {
    display:grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 2em; 
    grid-row-gap:2em; 
    text-align: center;
    font-size: 20px;
    /*Gonna need to fix the project title layout*/
}

.project_grid p {
    padding: 20px;
}

.project_grid div:nth-child(odd) {
    background-color: #300549;
    background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
    
}

.project_grid div:nth-child(even){
    background: #532b68;
    background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}

/* adjust columns on smaller screens*/
@media (max-width: 750px) {
    .project_grid{
        grid-template-columns: 1fr
    }
}

/* ------------------------------------ Projects - Grid   ------------------------------------ */